<page class="Inicio">
<ActionBar  class="Inicio" title="Edit"></ActionBar>

<StackLayout>

</StackLayout>

</page>
<!-- {
    "title": "string",
    "genreid": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
    "authorId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
    "releaseDate": "2023-05-09",
    "price": 0,
    "rating": 0,
    "runtimeMins": "string",
    "plot": "string",
    "writers": "string",
    "stars": "string",
    "countries": "string",
    "languages": "string",
    "idImdb": "string",
    "awards": "string",
    "linkEmbed": "string",
    "videoDescription": "string",
    "linkPoster1": "string",
    "linkPoster2": "string",
    "image1": "string",
    "image2": "string"
  } -->
