.body {

  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.margin {
  margin-top: 3rem;
}


.container-fluid {
  font-size: 20px;

}

.container {
  font-size: 16px;

}

.display-1 {
  text-decoration: bold;

}

.imdb {

 text-align: right;
}
