/* Styles for the home component */
.body {
  background-color: rgb(5, 10, 5);
  text-decoration-color: aliceblue;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
