.body {

  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.card-deck {

  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;


}

p {
  font-family: Lato;
  font-size: 15px;
}
