<GridLayout class="Inicio">
  <StackLayout  padding="5" marginTop="10"  >

   <!--  <StackLayout orientation="horizontal">
    <Button type="button" class="Button.-primary" text="Home" [nsRouterLink]="['/home']"></Button>
    <Button type="button" class="Button.-primary" text="Login" [nsRouterLink]="['/login']"></Button>
    <Button type="button" class="Button.-primary" text="CreateIMDB" [nsRouterLink]="['/createIMDB']"></Button>
    <Button type="button" class="Button.-primary" text="Create" [nsRouterLink]="['/create']"></Button>

  </StackLayout > -->

    <page-router-outlet class="Inicio" ></page-router-outlet>

  </StackLayout>


</GridLayout>
