<h1 class="display-1 text-center">Create Genre</h1>

<div class="tab-content ng-star-inserted">
  <form class="ng-tns-c58-0 ng-pristine ng-valid ng-star-inserted ng-touched" (ngSubmit)="submitForm()" [formGroup]="form">
    <div class="card">

      <div class="mb-3 form-group ng-tns-c58-0">
        <label class="form-label ng-tns-c58-0">Genre</label>
        <input class="form-control ng-tns-c58-0 " type="txt" id="description" formControlName="description" name="description" >

      </div>

      <div class="container">
        <button class="btn btn-primary mx-2  " type="submit">Enviar</button>
        <a [routerLink]="['/movie']" href="#" class="btn btn-primary">Back</a>
      </div>
    </div>
  </form>
</div>
